# Bytecode
*.pyc
__pycache__/

# Virtual environments
env/
venv/

# Django database (for local dev)
*.sqlite3
db.sqlite3

# Static & media (collected or user-uploaded)
staticfiles/
media/

# Environment variables / secrets
*.env

# macOS system files
.DS_Store

# Windows system files
Thumbs.db